               <section data-id="$uuid">
                  <div class="sl-block" data-block-type="text" style="width: 851px; left: 30px; top: 12px; height: auto;" >
                     <div class="sl-block-content" data-placeholder-tag="h2" data-placeholder-text="Title Text" style="color: rgb(0, 173, 255); z-index: 10;">
                        <h2>$title</h2>
                     </div>
                  </div>
                  <div class="sl-block" data-block-type="text" style="width: 800px; left: 75px; top: 90px; height: auto;" >
                     <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 11;">
                       $content
                     </div>
                  </div>
                  <div class="sl-block" data-block-type="image" style="width: 149.37037037037px; height: 37px; left: 800px; top: 12px;" >
                     <div class="sl-block-content" style="z-index: 12;"><img data-natural-width="218" data-natural-height="54" style="" data-src="deck/1725193-nx-logo.png"></div>
                  </div>
               </section>
