            <section data-id="$uuid">
               <div class="sl-block" data-block-type="text" style="width: 816px; left: 28px; top: 192px; height: auto;" data-block-id="d07e7d9c6e0ba6a4fbee87a98868e248">
                  <div class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text" style="z-index: 12;">
                     <h1>$title</h1>
                  </div>
               </div>
               <div class="sl-block" data-block-type="image" style="width: 961px; height: 719.551px; left: 0px; top: 0px;" >
                  <div class="sl-block-content" style="z-index: 11;">
                     <img data-natural-width="1202" data-natural-height="900" style="" data-src="deck/1725072-nx-font.png">
                  </div>
               </div>
               <div class="sl-block" data-block-type="text" style="height: auto; width: 222px; left: 721px; top: 508px;" >
                  <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 13; line-height: 0.91;" data-has-line-height="">
                     <p><span style="font-size:0.7em">$author<br>
                        $author_email</span>
                     </p>
                     <p><span style="font-size:0.7em">$author_url</span></p>
                  </div>
               </div>
            </section>
