               <section data-id="$uuid">
                  <div class="sl-block" data-block-type="text" style="width: 709px; left: -59px; top: 231px; height: auto;" >
                     <div class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text" style="z-index: 10;">
                        <h1>$title</h1>
                     </div>
                  </div>
                  <div class="sl-block" data-block-type="text" style="width: 607px; left: 0px; top: 328px; height: auto;" >
                     <div class="sl-block-content" data-placeholder-tag="h2" data-placeholder-text="Subtitle" style="color: rgb(0, 173, 255); z-index: 11;">
                        <p><em>$subtitle</em></p>
                     </div>
                  </div>
                  <div class="sl-block" data-block-type="image" style="width: 960px; height: 720px; left: 0px; top: 0px;" >
                     <div class="sl-block-content" style="z-index: 0;">
                        <img data-natural-width="1024" data-natural-height="768" style="" data-src="deck/1725189-nx-background.002.png">
                     </div>
                  </div>
               </section>
